*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}
.todoApp{
  background-color: #be4a4b;
  width: 500px;
  height: calc(100% - 20px);
  border: 1rem solid #ad977c;
  padding: 3rem 2rem 0 2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}